.card{
    width : 300px;
    height : 200px;
    background-color : #ccc;
    float : left;
    margin-right : 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    box-shadow: 5px 2px 2px black;
    
}
.card:hover{
    transform : scale(1.07,1.07);
    box-shadow: 5px 5px  15px black;
}

.card .cardTitle
{
    text-align: center;
}


