.theMainImage
{
    width : 100%;
    height : 700px;
}
.objectifs{
    -webkit-box-align: center;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 64px;
      padding-bottom: 64px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 15%;
      padding-right : 15%;
      
  }
.ob{
    display: block;
    font-weight: 600;
    color: rgb(31, 31, 31);
    margin-bottom: 65px;
    padding: 0px 20px;
    text-align: center;
    line-height: 52px;
    font-size: 44px;
    font-family: "Source Sans Pro", Arial, sans-serif;
}  
.cards{
    -webkit-box-pack: center;
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 335;
    
}
.cc{
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 190px;
    width: 100%;
    padding-right: 30px;
    
}
.c1{
    -webkit-box-align: center;
    margin-bottom: 0px;
    min-height: 55px;
    display: flex;
    align-items: center;

}
.cc1{
    position: relative;
    width: 55px;
    padding-bottom: 100%;
    height: 0px;
}
.tete{
    box-sizing: border-box;
}
.ecriture11{

    font-weight: 600;
    font-style: normal;
    text-align: center;
    letter-spacing: -0.1px;
    color: rgb(31, 31, 31);
    margin-bottom: 16px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    line-height: 28px;
    font-size: 20px;
}
.span11{
    display: block;
    font-weight: 600;
    height: 4rem;
    margin-top: 16px;
    margin-bottom: 16px;
    color: rgb(31, 31, 31);
}
.small11{
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
}

.col-md-6{
    text-align: center;
    
}

.contenuCoursBtn 
{
    background-color: black;
}
.cardTitle{
    position : relative;
}







 .row .paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
 .row .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
  }
  
  